
#ig {
    height: 25px;
    width: 25px;
}

.square-image {
    aspect-ratio: 1 / 1;
}

.row .col-sm-4 {
    /* Override the default min-width for smaller screens */
    @media (min-width: 50px) {
    }
  }

h4 {
    position: relative;
    right: 9%;
    top: 7%;
}

date {
    position: relative;
    
}